*{
    margin:0;
    padding: 0;
}
.container,.container-fluid{
    width:100%; 
    padding-right:15px;
    padding-left:15px; 
    margin-right: auto; 
    margin-left:auto;
}
.nav {
  background-color: #0b1749;
}
.name-logo {
  font-size: 20px;
  padding: 7px 11px;
  font-weight:600;
  
}
.nameLogo{
  color: #f8b600;
  text-shadow: 3px 1px 4px #f1f349
}
p{
     color:#00305b;
}
h3,h5{
    font-weight:700;
    margin-bottom:20px;
    font-size:18px;

}

.left-panel{
    color:#00305b;
}

@media (max-width: 1024px) {
    h3 {
      font-size: 16px;
   
    }
  }
@media (max-width: 767px) {
    .left_panel {
      margin-bottom:7px;
    }
  }
  @media (max-width: 767px) {
    .left_panel {
      font-size:13px;

    }
  }
.boldtext, .panel_menu a{
    font-weight:600;
    font-style:normal;
    color: #00305b;
    font-size:14px;
   
}
.panel_menu li{
    padding-bottom:10px;
}
  
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width:100%; 
padding-right:15px ;
padding-left:15px;

}

.header-information{
  border: 1px solid transparent;
  background-color: antiquewhite;
  
}
.header-info h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}
.white-box{
  border: 1px solid rgb(210, 206, 206);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.input-text{
  display: inline-block;

}
section.profile{
  max-width:100%;
  min-height: 50vh;
  background-image: url('../img/clouds.jpg') ;
  background-size:cover;
}

.full-container{
  margin: auto ;
  overflow: hidden;
  padding: 55px 35px 37px 35px;
 
}
.panel-body{
  background-color: #f6f6f6;
}
.input-text{
  box-sizing: border-box;
  border: 1px solid #cac7c7;
  border-radius: 5px;
  padding: 5px;
  background-color:#f6f6f6;
  box-shadow: 0 3px 4px rgba(0,0,0,.15);
  width: 100%;
}
.input-text:checked{
  border-color: #00305b;
}
.changePass{
  width:100vh;
}
.inputLabel {
  font-size: 16px;
  font-weight: 400;
  color:#00305b;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .group{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #valid{
    font-size:12px;
    color:#daa;
    height:15px
  }
  #strong{
    height:20px;
    font-size:12px;
    color:#daa;
    text-transform:capitalize;
    background:rgba(205,205,205,0.1);
    border-radius:5px;
    overflow:hidden
  }
  
  #strong span{  
    display:block;
    box-shadow:0 0 0 #fff inset;
    height:100%;
    transition:all 0.8s
  }
  #strong .weak{
     box-shadow:5em 0 0 #daa inset;
  }
  #strong .medium{
     color:#da6;
     box-shadow:10em 0 0 #da6 inset
  }
  #strong .strong{
     color:#595;
     box-shadow:50em 0 0 #ada inset
  }